doctype html
head
	title CrewLink Server
	link(rel="icon", href="https://cdn.discordapp.com/attachments/762238629921161216/789516181832728617/biCenAdA15.png", type="image/x-icon")
	meta(property='og:title' content='CrewLink Server')
	meta(property='og:description' content='Voice server for Among Us proximity chat')
	meta(property='og:image' content='https://cdn.discordapp.com/attachments/762238629921161216/789516181832728617/biCenAdA15.png')
	style.
		body {
		background-color: #23272a;
		color: white;
		font-family: sans-serif;
		text-align: center;
		}
		img {
		height: 128px;
		width: 128px;
		margin: 32px auto;
		display: block;
		}
		a {
			text-decoration: none;
			color: #3498db
		}
		a:hover {
			text-decoration: underline;
		}
img(src="https://cdn.discordapp.com/attachments/762238629921161216/789516181832728617/biCenAdA15.png")
h1 השרת של הבוטקה
p השרת בחסות האתר של אדיר אלעד https://adirelad.com
p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}.
p 
	| נוצר על ידי jewdev, 
	a(href="https://jewdev.xyz", target="_blank") click here
	| .
